{% extends "base.html" %}
{% import "lightbox.html" as lightbox %}
{% block title %}{{ collection.name }} - {{ sitename }}{% endblock %}

{% block head %}
{{ parent() }}
<script src="{{ siteurl }}js/myModal.js"></script>
<script src="{{ siteurl }}js/faces.js"></script>
<script src="{{ siteurl }}js/comments.js">
	siteurl = "{{ siteurl }}";
</script>
<link rel="stylesheet" href="{{ siteurl }}css/myModal.css">
<style type="text/css">
.card {
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}
.card img{
	max-width: 700px;
}
.clickzone {
	position: absolute;
}
.clickzone:hover {
	border: 1px solid #5cb4ff;
}
.facezone {
	position: absolute;
	border: 0px solid #5cb4ff;
}
.clicks {
	list-style: None;
}
.commentlink {
	position: inherit;
	right: 15px;
	bottom: 5px;
}
</style>
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ siteurl }}">Home</a></li>
		<li class="breadcrumb-item"><a href="{{ siteurl }}album_{{ collection.id }}">{{ collection.name }}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ pic.title }}</li>
	</ol>
</nav>
<div class="container">
	<div class="row">
		<div class="col-4">
<h1>{{ collection.name }}</h1>
    <div class="desc">{{ collection.description }}</div>
		</div>
		<div class="row">
    <div class="card">
    <img class="card-img-yop" src="{{siteurl}}../{{basepath}}{{pic.filepath}}" usemap="#imgmap">
    <ul class="clicks">
	    {% for area in clickzones %}
	    <a data="{{ siteurl }}../{{basepath}}{{area.filepath}}" data-toggle="lightbox" data-gallery="album-gal" data-title="{{ area.title }}" data-footer="{{ area.caption }}" onclick="openModal();currentSlide({{ loop.index }})">
		    <li class="clickzone" style="top: {{ area.top_line}}px; bottom: {{ area.bottom_line }}px; left: {{ area.left_line }}px; right: {{ area.right_line }}px;" data-toggle="tooltip" data-placement="auto" data-html="true" title="{% if area.title %}{{ area.title }}{% else%}{{ area.caption }}{% endif %}"></li>
	    </a>
	    {% endfor %}
    </ul>
    <div class="card-body">
	    <a href="page_{{ picnum-1 }}" class="btn btn-primary{% if picnum == "0" %} disabled" aria-disabled="true"{% else %}"{% endif %}>Previous page</a>
	    <a href="{% if picnum == "0" %}{{siteurl}}album_{{ collection.id }}/page_1 {% else %}page_{{ picnum+1 }}{% endif %}" class="btn btn-primary{% if picnum == collection.pagecount %} disabled" aria-disabled="true"{% else %}"{% endif %}>Next Page</a>
	    </div>
    </div>
    </div>
	</div>
</div>
{{ lightbox.modalSetup(clickzones, siteurl, basepath, user) }}

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<div style="display:none" id="siteurl">{{siteurl}}</div>

{% endblock %}
