.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 40px;
	//left: 0;
	//top: 0;
	//width: 100%;
	//height: 100%;
	overflow: auto;
	//background-color: black;
}

.myModal-blackout{
	background-color: black;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	width: max-content;
}

.myModal-controls {
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 35px;
	font-weight: bold;
	padding-right: 10px;
}

.myModal-controls span:hover,
.myModal-controls span:focus,
.myModal-controls svg:hover,
.myModal-controls svg:focus {
	color: #999;
	text-decoration:none;
	cursor:pointer;
}

.mySlides {
	display: none;
	background: black;
}

div.mySlides img {
	max-width: 100%;
}
.prev,
.next {
	cursor: pointer;
	position: fixed;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0px;
	border-radius: 3px 0 0 3px;
}

.prev {
	left: 0px
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: fixed;
	top: 0;
	left: 0;
}

.image-box {
	float: left;
	position: absolute;
	left: -320px;
}

.myModal-details {
	float: right;
	width: 400px;
	padding: 20px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: white;
	transition-duration: 2s;
	position: absolute;
	left: 420px;

}

.facezone {
	position: absolute;
	border: 0px solid #5cb4ff;
}

.clicks {
	list-style: None;
}

.svg-inline--fa {
	margin-left: auto;
	margin-right: auto;
}
.editLink {
	position: absolute;
	right: 5px;
	top: 5px;
}
