{% extends 'base.html' %}
{% block title %} ADMIN PANEL - {{sitename}}{% endblock %}
{% block head %}
{{ parent() }}
<script src="{{siteurl}}js/admin.js"></script>
<style>

.table-wrapper-scroll-y {
	display: block;
	max-height: 200px;
	overflow-y: auto;
	-ms-overflow-style: -ms-sutohiding-scrollbar;
}
</style>
{% endblock %}
{% block content %}

<div class="container">

	<div id="UserList">
		<h5>User List</h5>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">ID</th>
					<th scope="col">Username</th>
					<th scope="col">Email</th>
					<th scope="col">User Since</th>
					<th scope="col">Last Login</th>
					<th scope="col">Roles</th>
					<th scope="col">Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for userl in userlist %}
				<tr>
					<td>{{userl.id}}</td>
					<td>{{userl.username}}</td>
					<td>{{userl.email}}</td>
					<td>{{userl.registered | date('Y-m-d')}}</td>
					<td>{% if userl.last_login %}{{userl.last_login | date('Y-m-d h:i:s A T')}}{% endif %}</td>
					<td>{% for role in userl.roles %}{{role}}<br>{% endfor %}</td>
					<td>
						{% if not userl.approved %}
						<button class="btn btn-primary" id="approve_{{userl.id}}" onclick="approveUser({{userl.id}})">Approve user</button>
						{% endif %}
						{% if userl.banned %}
						<button class="btn btn-warning" onclick="UnBanUser({{userl.id}})">UnBan user</button>
						{% else %}
						<button class="btn btn-warning" data-toggle="modal" data-target="#BanModal" onclick="$('#banUser').val('{{userl.id}}')">Ban User</button>
						{% endif %}
						<button class="btn btn-secondary" data-toggle="modal" data-target="#PasswordModal" onclick="$('#passwordUser').val('{{userl.id}}')">Reset Users Password</button>
						<button class="btn btn-secondary" data-toggle="modal" data-target="#rolesModal" onclick="openRolesModal({{userl.id}},'{% if user.roles.isSuperAdmin %}True{% else %}False{% endif %}')">Change User Roles</button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div id="thumbsneeded">
		<h5>Images with no Thumbnails (<span id="thumbcount">{{thumblessPics|length}}</span>)</h5>
		<div class="table-wrapper-scroll-y">
			<table class="table">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Filepath</th>
						<th scope="col">Title</th>
						<th scope="col">Caption</th>
						<th scope="col"></th>

					</tr>
				</thead>
				<tbody>
					{% for pic in thumblessPics %}
					<tr id="thumb_{{pic.id}}">
						<td>{{pic.id}}</td>
						<td>{{pic.filepath}}</td>
						<td>{{pic.title}}</td>
						<td>{{pic.caption}}</td>
						<td>
							<button class="btn btn-primary" onclick="generateThumb({{pic.id}})">Generate thumbnail</button>
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Roles Modal -->

<div class="modal fade" id="rolesModal" tabindex="-1" role="dialog" aria-labelledby="rolesModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="rolesModalTitle">Change Roles of user</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="RolesBody"></div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="submitUserRoles()">Save Changes</button>
			</div>
		</div>
	</div>
</div>

<!-- Password Modal -->

<div class="modal fade" id="PasswordModal" tabindex="-1" role="dialog" aria-labeledby="PasswordModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="PasswordModalTitle">Change users Password</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" id="passwordUser" value="">
				<input type="password" id="NewPassword" class="form-control">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" onclick="submitUserPassword()">Save Changes</button>
			</div>
		</div>
	</div>
</div>

<!-- Ban User Modal -->

<div class="modal fade" id="BanModal" tabindex="-1" role="dialog" aria-labeldby="BanModalTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="BanModalTitle">Enter Ban message</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<input type="hidden" id="banUser" value="">
				<input type="text" id="banmessage" class="form-control">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-danger" onclick="BanUser()">Ban User</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
