<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    <script>
	    function openNotificationMenu(){
		$.post('API/markNotificationsAsRead.php',
			{
			},
			function(data, status){
				if (data == "True"){
					$('#notificationBadge').hide()
				}
				else{
					// Do something
				}
			}
			);
	    }
    </script>
    <style>
    
#footer{

	position: fixed;
	bottom: 0px;
}
    
    </style>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% if not HIDE_NAVBAR %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	    <a class="navbar-brand" href="{{ siteurl }}">{{ sitename }}</a>
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
			<li class="nav-item active">
				<a class="nav-link" href="{{ siteurl }}">Home <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ siteurl }}tags">Tags</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ siteurl }}people">People</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ siteurl }}location">Locations</a>
			</li>
			{% if user.logged_in %}
			<li class="nav-item dropdown" onclick="openNotificationMenu()">
				<a class="nav-link dropdown-toggle" href="#" id="NotificationsMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-envelope"></i>
				{% if notifications %}
					{% set notifCount = 0 %}
					{% for notif in notifications %}
						{% if notif.beenread == 0 %}
							{% set notifCount = notifCount + 1 %}
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if notifCount > 0%}
				<span class="badge badge-dark" id="notificationBadge">{{ notifCount }}</span>
				{% endif %}
				</a>
				<div class="dropdown-menu" aria-labeldby="NotificationMenuLink">
					{% for notif in notifications %}
					<a class="dropdown-item" href="{{ notif.url }}"><img src="{{siteurl}}users/{{notif.fromUser}}/image/64">{{notif.message|raw}}</a>
					<div class="dropdown-divider"></div>
					{% endfor %}
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded='false'>{{user.username}}
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="{{siteurl}}settings">Settings</a>
					{% if user.roles.editor_panel %}
					<a class="dropdown-item" href="{{siteurl}}editor">Editor Panel</a>
					{% endif %}
					{% if user.roles.admin_panel %}
					<a class="dropdown-item" href="{{siteurl}}admin">Admin Panel</a>
					{% endif %}
					<a class="dropdown-item" href="{{siteurl}}logout.php">Logout</a>
				</div>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{{siteurl}}login?goto=.">Login</a>
			</li>
			{% endif %}
		</ul>
	    </div>
    </nav>
    {% endif %}
    {% block message %}{% endblock %}
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
    {% block footer %}
        Powered by <a href="https://gitlab.com/fampics/fampics">Fampics</a>
    {% endblock %}
    </div>
</body>
</html>
