{% extends "base.html" %}
{% import "lightbox.html" as lightbox %}
{% block title %}{{ collection.name }} - {{ sitename }}{% endblock%}

{% block head %}
    {{ parent() }}
    <script src="{{siteurl}}js/myModal.js"></script>
    <script src="{{siteurl}}js/faces.js"></script>
    <script src="{{siteurl}}js/comments.js"></script>
    <link rel="stylesheet" href="{{siteurl}}css/myModal.css">
    <style type="text/css">
	.card {
	    max-width: 300px;
	}
	.card-img-top {
	    width: auto;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	}
	.commentlink {
		position: inherit;
		right: 15px;
		bottom: 5px;
	}
    </style>


{% endblock %}

{% block content %}
<h1>{{ collection.name }}</h1>
    <div class="desc">{{ collection.description }}</div>
    <div class="row">
        {% for pic in pictures %}
	<div class="col-sm-2">
	<div class="card mb-3">
		<a data="../../{{ basepath }}{{ pic.filepath }}" data-toggle="lightbox" data-gallery="collection-gallery" data-title="{{ pic.title }}" data-footer="{{ pic.caption }}" onclick="openModal();currentSlide({{ loop.index }})">
		<image class="card-img-top " src="../../{{ thumbbasepath }}{{ pic.thumbpath }}" />
		</a>
		<div class="card-body">
			<h5 class="card-title">{{ pic.title }}</h5>
			<p class="card-test">{{ pic.caption }}</p>
		</div>
		{% if pic.tags %}
		<div class="card-footer">
			<small>Tags:</small><br>
			{% for tag in pic.tags %}
			<a href="{{ siteurl }}tags/{{ tag.name }}"><small class="text-muted">{{ tag.name }}</small></a>
			{% endfor %}
		</div>
		{% endif %}
	</div>
	</div>
	{% endfor %}
	</div>

{{ lightbox.modalSetup(pictures, siteurl, basepath, user) }}
<script>
	$(function () {  $('[data-toggle="tooltip"]').tooltip()
	})
</script>
{% endblock %}
