{% extends "base.html" %}
{% block title %} {{ people[0].l_name }} Family - {{ sitename }}{% endblock %}
{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ siteurl }}">Home</a></li>
		<li class="breadcrumb-item"><a href="{{ siteurl }}people">People</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ people[0].l_name }}</a></li>
	</ol>
</nav>

<div class="container">
	<ul>
	{% for person in people %}
	<li><a href="{{ siteurl }}people/{{ person.l_name }}/{{ person.f_name }}">{{ person.f_name }}</a></li>
	{% endfor %}
	</ul>

</div>
{% endblock %}
