{% if pic.loc_parent_3 != 'unknown' %}
	{% set p3 = pic.loc_parent_3 ~ "/" %}
{% else %}
	{% set p3 = "" %}
{% endif %}


{% if pic.loc_parent_2 != 'unknown' %}
	{% set p2 = pic.loc_parent_2 ~ "/" %}
{% else %}
	{% set p2 = "" %}
{% endif %}


{% if pic.loc_parent_1 != 'unknown' %} 
	{% set p1 = pic.loc_parent_1 ~ "/" %}
{% else %}
	{% set p1 = "" %}
{% endif %}

{% set locationpath = siteurl ~ "location/" ~ p3 ~ p2 ~ p1 ~ pic.locationname %}

{% extends "base.html" %}
{% block title %} {{ pic.title }} - {{ sitename }}{% endblock %}
{% block head %}
{{ parent() }}

<!--  for bootstrap-select -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

<script>

	function newComment(){
		$('#comments').after('<div id="comment-form"></div>');
		$('.commentlink').hide();
		$('#comment-form').append('<form><textarea class="form-control" id="comment-text" rows="3"></textarea><button onclick="closeCommentForm()" class="btn btn-secondary">Cancel</button><button onclick="submitCommentForm()" class="btn btn-primary">Post</button></form>');
	}

	function newReply(commentid){
		$('#comment_'+commentid).after('<div id="comment-form"></div>');
		$('.commentlink').hide();
		$('#comment-form').append('<form><textarea class="form-control" id="comment-text" rows="3"></textarea><button onclick="closeCommentForm()" class="btn btn-secondary">Cancel</button><button onclick="submitCommentForm(' + commentid + ')" class="btn btn-primary">Post</button></form>');
	}

	function closeCommentForm(){
		$('#comment-form').remove();
		$('.commentlink').show();
	}

	function submitCommentForm(commentid=0) {
	commentText = $('#comment-text').val();
	siteurl = '{{siteurl}}';
	$.post(siteurl+"API/addcomment.php",
		{
			pic: {{pic.id}},
			comment: commentText,
			commentid: commentid
		},
		function(data, status){
			location.reload();
		}
		);
	}

</script>

<style type="text/css">

.card-columns {
	column-count: 3;
	column-gap: 1.25rem;
	orphans: 1;
	widows: 1;
}

.card {
	display: inline-block;
	max-width: 700px;
}

.card-img-top {
	max-height: 700px;
	width: auto;
	max-width: 700px;
}

.clickzone {
	position: absolute;
	border: 0px solid #5cb4ff;
}

.clicks {
	list-style: None;
}

.link {
	color: #007bff !important;
	text-decoration: none !important;
}

.link:hover {
	color: #0056b3 !important;
	text-decoration: underline !important;
	cursor: pointer;
}

</style>
{% if user.roles.editor_panel %}
<script src="{{siteurl}}js/image-edit.js"></script>
{% endif %}
<script src="{{ siteurl }}js/faces.js"></script>
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ siteurl }}">Home</a></li>
		{% if pic.true_collection %}
		<li class="breadcrumb-item"><a href="{{ siteurl }}album_{{ pic.true_collection }}">{{ pic.true_name }}</a></li>
		<li class="breadcrumb-item"><a href="{{ siteurl }}album_{{ pic.true_collection }}/page_{{ pic.pagenum }}">Page {{ pic.pagenum }}</a></li>
		{% else %}
		<li class="breadcrumb-item"><a href="{{ siteurl }}album_{{ pic.collection_id }}">{{ pic.collection_name }}</a></li>
		{% endif %}
		<li class="breadcrumb-item active" aria-current="page">{% if pic.title %}{{ pic.title }}{% else %}Image #{{pic.id}}{% endif %}</li>
	</ol>
</nav>
<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="card">
				<div class="card-body">
					<h1 class="card-title">{{ pic.title }}</h1>
					<div class="card-text">{{ pic.caption|raw }}</div>
				</div>
				{% if pic.tags or pic.faces or pic.locationname %}
				<div class="card-footer">
					{% if pic.locationname != "unknown" or user.roles.canAddImageLocation %}
					<small>Location:</small>
					<a href="{{ locationpath }}"><small class="text-muted">{{pic.locationname}}</small></a>
					{% if user.roles.canEditImageLocation %}
					<sub><a class="link" onclick="editLocation({{pic.id}})">(edit)</a></sub>
					{% endif %}
					<hr>
					{% endif %}
					{% if pic.tags %}
					<small>Tags:</small><br>
					{% for tag in pic.tags %}
					<a href="{{ siteurl }}tags/{{ tag.name }}"><small class="text-muted">{{ tag.name }}</small></a>
					{% endfor %}{% endif %}
					<hr>
					{% if pic.faces %}
						<small>People:</small><br>
						{% for face in pic.faces %}
						<a href="{{ siteurl }}people/{{ face.l_name }}/{{ face.f_name }}" onmouseover="showface({{ face.id }})" onmouseout="hideface({{ face.id }})"><small class="text-muted">{{ face.name }}</small></a>
						{% endfor %}
					{% endif %}
				</div>
				{% endif %}
			</div>
			<div id="comments">
			{% if comments %}
			<div class="card">
				<h1 class="card-title">Comments</h1>
				{% for comment in comments %}
				{% if not comment.parent %}
				<div class="media" id="comment_{{ comment.id }}">
					<img src="{{siteurl}}users/{{comment.userid}}/image/64" class="mr-3" alt="">
					<div class="media-body">
						{% if comment.username %}
						<h5 class="mt-0">{{comment.username}}</h5>
						{% else %}
						<h5 class="mt-0">{{comment.email}}</h5>
						{% endif %}
						{{ comment.comment | raw }}
						{% for sub_comment in comments %}
						{% if sub_comment.parent == comment.id %}
						<div class="media">
							<img src="{{siteurl}}users/{{sub_comment.userid}}/image/64" class="mr-3" alt="">
							<div class="media-body">
								{% if sub_comment.username %}
								<h5 class="mt-0">{{sub_comment.username}}</h5>
								{% else %}
								<h5 class="mt-0">{{sub_comment.email}}</h5>
								{% endif %}
								{{ sub_comment.comment |raw}}
							</div>
						</div>
						{% endif %}
						{% endfor %}
						{% if user %}
						<a href="#" class="commentlink" onclick="newReply({{comment.id}})">Reply</a>
						{% endif %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
			{% endif %}
			</div>
			{% if user %}
			<a href='#' class="commentlink" onclick="newComment()">write a new comment</a>
			{% endif %}
		</div>
		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ siteurl }}../../{{ basepath }}{{ pic.filepath }}">
				{% if pic.faces %}<ul class="clicks">
					{% for face in pic.faces %}
					<a href="{{ siteurl }}people/{{ face.l_name }}/{{ face.f_name }}" onmouseover="showface({{ face.id }})" onmouseout="hideface({{ face.id }})"><li id="face-{{ face.id }}" class="clickzone" style="top: {{ face.top_line }}%; bottom: {{ face.bottom_line }}%; left: {{ face.left_line }}%; right: {{ face.right_line }}%;" data-toggle="tooltip" data-placement="auto" data-html="true" title="{{ face.name }}"></li></a>					{% endfor %}
				</ul>{% endif %}
			</div>
		</div>
	</div>
</div>
	<script>
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})
	</script>
	{% if user.roles.canEditImageLocation %}
	<div class="modal fade" id="LocationEditModal" tabindex="-1" role="dialog" aria-labelledby="EditImageModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="EditImageModalLabel">Edit Image Location</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<input type="hidden" value="{{ pic.id }}" id="PicId">
						<div class="form-group">
							<label for"LocationName">Location:</label>
							<select class="selectpicker" data-live-search="true" id="LocationName">
								{% for location in locationlist %}
								{% if location.id == pic.location %}
								<option value="{{location.id}}" selected>{{location.name}}</option>
								{% else %}
								<option value="{{location.id}}">{{location.name}}</option>
								{% endif %}
								{% endfor %}
							</select>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" onclick="submitLocationForm()">Save Changes</button>
				</div>
			</div>
		</div>
	</div>
	<script>
	$('.selectpicker').selectpicker({
	  style: 'btn-info',
	  size: 4
	});
	</script>
	{% endif %}
{%endblock %}
