{% extends "base.html" %}
{% block title %} {{ sitename }} {% endblock %}

{% block content %}
<h1>{{ sitename }}</h1>
  <ul>
  {% for item in collections %}
    <li><a href="album_{{ item.id }}">{{ item.name }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}


{#  
Admin message goes here.

alert types:

* primary
* secondary
* success
* warning
* info
* light
* dark
#}
{#
{% block message %}
<div class="alert alert-info">This is a test message.</div>
{% endblock %}
#}


