{% macro  modalSetup(pictures, siteurl, basepath, user) %}
<!-- The modal Stuff -->
<div id="myModal" class="modal">
	<div class="myModal-blackout" onclick="closeModal()"></div>
	<div class="myModal-controls">
		<a id="downloadLink"><span class="fas fa-download"></span></a>
		<div style="width: 35px; display: inline-grid;">
			<span id="hide-details" class="fas fa-info cursor" onclick="hideDetails()"></span>
			<span id="show-details" class="fas fa-info-circle cursor" onclick="showDetails()" style="display: none"></span>
		</div>
		<span class="cursor" onclick="closeModal()">&times;</span>
	</div>
	<div class="modal-content">
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a>
		{% for slide in pictures %}
		<div class="mySlides">
			<div class="numbertext">{{ loop.index }} / {{ loop.length }}</div>
			<div class="myModal-details">
				{% if user.roles.editor_panel %}
				<a href="{{siteurl}}image/{{slide.id}}" class="editLink"><span class="fas fa-edit"></span></a>
				{% endif %}
				<h5>{{slide.title}}</h5>
				{{ slide.caption | raw }}
				{% if slide.locationname != "unknown" %}
				<div class="myModal-location">
					Location:<br>
					{% if slide.parent2 != "unknown" %}
					<a href="{{siteurl}}location/{{slide.parent2}}/{{slide.parent1}}/{{slide.locationname}}">{{slide.locationname}}</a>
					{% elseif slide.parent1 != "unknown" %}
					<a href="{{siteurl}}location/{{slide.parent1}}/{{slide.locationname}}">{{slide.locationname}}</a>
					{% else %}
					<a href="{{siteurl}}location/{{slide.locationname}}">{{slide.locationname}}</a>
					{% endif %}

				</div>
				{% endif %}
				
				{% if slide.tags %}
				<div class="myModal-tags">
					Tags:<br>
					{% for tag in slide.tags %}
					<a href="{{siteurl}}tags/{{tag.name}}">{{tag.name}}</a>
					{% endfor %}
				</div>
				{% endif %}

				{% if slide.faces %}
				<div class="myModal-facetags">
					People:<br>
					{% for face in slide.faces %}
					<a href="{{siteurl}}people/{{face.l_name}}/{{face.f_name}}" onmouseover="showface({{face.id}})" onmouseout="hideface({{face.id}})">{{face.name}}</a>
					{% endfor %}
				</div>
				{% endif %}

				<div class="myModal-comments" id="comments_{{slide.id}}">
					{% if slide.comments %}
					<h5>Comments</h5>
					{% for comment in slide.comments %}
					{% if not comment.parent %}
					<div class="media" id="comment_{{comment.id}}">
						<img src="{{siteurl}}users/{{comment.userid}}/image/64" class="mr-3" alt="">
						<div class="media-body" id="comment_{{ comment.id }}">
							{% if comment.username %}
							<h5 class="mt-0">{{comment.username}}</h5>
							{% else %}
							<h5 class="mt-0">{{comment.email}}</h5>
							{% endif %}
							{{ comment.comment | raw}}
							{% for sub_comment in slide.comments %}
							{% if sub_comment.parent == comment.id %}
							<div class="media">
								<img src="{{siteurl}}users/{{sub_comment.userid}}/image/64" class="mr-3" alt="">
								<div class="media-body">
									{% if sub_comment.username %}
									<h5 class="mt-0">{{sub_comment.username}}</h5>
									{% else %}
									<h5 class="mt-0">{{sub-comment.email}}</h5>
									{% endif %}
									{{sub_comment.comment | raw }}
								</div>
							</div>
							{% endif %}
							{% endfor %}
							{% if user %}
							<a href="#" class="commentlink" onclick="newReply({{slide.id}})">Reply</a>
							{% endif %}
						</div>
					</div>
					{% endif %}
					{% endfor %}
					{% endif %}
				</div>
				{% if user %}
				<a href="#" class="commentlink" onclick="newComment({{slide.id}})">Add a new Comment</a>
				{% endif %}
			</div>
			<div class="image-box">
				<img src="{{siteurl}}../{{basepath}}{{slide.filepath}}">
				{% if slide.faces %}
				<ul class="clicks">
					{% for face in slide.faces %}
					<a href="{{siteurl}}people/{{face.l_name}}/{{face.f_name}}" onmouseover="showface({{face.id}})" onmouseout="hideface({{face.id}})">
						<li id="face-{{face.id}}" class="facezone" style="top: {{face.top_line}}%; bottom: {{face.bottom_line}}%; left: {{face.left_line}}%; right: {{face.right_line}}%;" data-toggle="tooltip" data-placement="auto" data-html="true" title="{{ face.name }}"></li>
					</a>
					{% endfor %}
				</ul>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endmacro %}
