{% extends 'base.html' %}
{% block title %} {{location.name}} - {{sitename}} {% endblock %}

{% block head %}
{{ parent() }}
<link rel="stylesheet" href="{{siteurl}}js/vendor/leaflet/dist/leaflet.css"/>

<script src="{{siteurl}}js/vendor/leaflet/dist/leaflet-src.js"></script>

<script>
	function init(){
		var mymap = L.map('mapdiv').setView([{{ location.lat }}, {{ location.lon }}], {{ location.zoom }});

		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
			maxZoom: 18,
			id: 'mapbox.streets',
			accessToken: '{{ mapbox_token }}'
		}).addTo(mymap);
	}
</script>

<style type="text/css">
.row{
	padding-bottom: 15px;
}

.card-top-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div#mapdiv {
	width: 700px;
	height: 500px;
}
</style>
{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ siteurl }}">Home</a></li>
		<li class="breadcrumb-item"><a href="{{ siteurl }}location">Locations</a></li>
		{% if location.parent2 %}
		<li class="breadcrumb-item"><a href="{{ siteurl }}location/{{ location.parent2 }}">{{ location.parent2 }}</a></li>
		<li class="breadcrumb-item"><a href="{{ siteurl }}location/{{ location.parent2 }}/{{ location.parent1 }}">{{ location.parent1 }}</a></li>
		{% elseif location.parent1 %}
		<li class="breadcrumb-item"><a href="{{ siteurl }}location/{{ location.parent1 }}">{{ location.parent1 }}</a></li>
		{% endif %}
		<li class="breadcrumb-item active" aria-curent="page">{{location.name}}</li>
	</ol>
</nav>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{ location.name }}</h5>
					<p class="card-text">{{bio | raw}}</p>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="row">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">MAP</h5>
						<div id="mapdiv"></div>
					</div>
				</div>
			</div>
			<div class="row card-columns">
				<h5>Location Gallery</h5>
				{% for pic in pics %}
				<div class="card">
					<a href="{{siteurl}}image/{{pic.id}}"><img class="card-top-img" src="{{siteurl}}../{{thumbbasepath}}{{pic.thumbpath}}"></a>
					<div class="card-body">
						<h5 class="card-title">{{pic.title}}</h5>
						<p class="card-text">{{pic.caption | raw }}</p>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<script>init()</script>
{% endblock %}
