{% extends "base.html" %}
{% block title %} Locations - {{sitename}}{% endblock %}

{% block head %}
{{ parent() }}

<link rel="stylesheet" href="{{siteurl}}js/vendor/leaflet/dist/leaflet.css"/>
<script src="{{siteurl}}js/vendor/leaflet/dist/leaflet-src.js"></script>

<script>
	function init(){
		var mymap = L.map('mapdiv').setView([51.505, -0.09], 13);

		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
			attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
			maxZoom: 18,
			id: 'mapbox.streets',
			accessToken: '{{ mapbox_token }}'
		}).addTo(mymap);
		
		var markers = []
		{% for location in locations %}
		{% if location.lat != 0 and location.lon != 0%}
		var Marker_{{location.id}} = L.marker([{{location.lat}},{{location.lon}}]).addTo(mymap);
		Marker_{{location.id}}.bindPopup("{{location.name}}")
		markers.push([{{location.lat}}, {{location.lon}}])

		{% endif %}
		{% endfor %}

		var bounds = new L.LatLngBounds(markers);

		mymap.fitBounds(bounds);
	}
</script>

<style type="text/css">

div#mapdiv {
	width: 700px;
	height: 500px;
}
</style>

{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{siteurl}}">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Locations</li>
	</ol>
</nav>

<div class="container">
	<div class="row">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">Locations</h5>
				<ul>
					{% for location in location_tree %}
					<li><a href="{{siteurl}}location/{{location.name}}">{{location.name}}</a>
						{% if location.children %}
						<ul>
							{% for sub_location in location.children %}
							<li><a href="{{siteurl}}location/{{location.name}}/{{sub_location.name}}">{{ sub_location.name }}</a>
								{% if sub_location.children %}
								<ul>
									{% for sub_sub_location in sub_location.children %}
									<li><a href="{{siteurl}}location/{{location.name}}/{{sub_location.name}}/{{sub_sub_location.name}}">{{ sub_sub_location.name }}</a></li>
									{% endfor %}
								</ul>
								{% endif %}
							</li>
							{% endfor %}
						</ul>
						{% endif %}
					</li>
					{% endfor %}

				</ul>
			</div>
		</div>
	<!--  THE MAP  -->
		<div class="card">
			<div id="mapdiv"></div>
		</div>
	</div>
</div>

<script>init();</script>

{% endblock %}
