{% extends 'base.html' %}
{% block title %}Login - {{sitename}}{% endblock %}
{% block head %}
{{ parent() }}
<style>

form{
width: 100%;
max-width: 330px;
padding: 15px;
margin: auto;
}

</style>
{% endblock %}
{% block content %}
<div class="container">
	<form action="{{ siteurl }}login?goto={{ referer }}" method="post">
		<input type="hidden" id="referer" name="referer" value="{{ referer }}">
		<div class="form-group">
			<label for="email">Email</label>
			{% if message.email %}
			<input type="email" class="form-control is-{{message.email.state }}" id="email" name="email" value="{{message.email.email}}" required>
			<div class="{{ message.email.state }}-feedback">{{ message.email.text }}</div>
			{% else %}
			<input type="email" class="form-control" id="email" name="email" placeholder="Please enter Email" required>
			{% endif %}
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			{% if message.pass %}
			<input type="password" class="form-control is-{{ message.pass.state }}" id="password" name="password" placeholder="Password" required>
			<div class="{{ message.pass.state }}-feedback">{{ message.pass.text }}</div>
			{% else %}
			<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
			{% endif %}
		</div>
		<div class="form-group form-check">
			<input type="checkbox" class="form-check-input" id="keepalive" name="keepalive">
			<label class="form-check-label" for="keepalive">Keep me logged in</label>
		</div>
		<button type="submit" class="btn btn-primary">Login</button>
		<a href="{{ siteurl }}make_account">Don't have an account?</a>
		</form>
</div>
{% endblock %}
