{% extends "base.html" %}
{% block title %} People - {{ sitename }}{%endblock%}
{% block head %}
{{parent()}}

{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{siteurl}}">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">People</li>
	</ol>
</nav>
<div class="container">
	<ol>{% for name in names %}
		<li><a href="{{siteurl}}people/{{name.l_name}}/{{name.f_name}}">{{name.f_name}} {{name.l_name}}</a></li>
		{% endfor %}
	</ol>
</div>
{% endblock %}
