{% extends "base.html" %}
{% block title %} {{ person.f_name }} {{ person.l_name }} - {{ sitename }}{% endblock %}
{%block head %}
{{ parent() }}

<style type="text/css">
.card-top-img {
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
</style>
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ siteurl }}">Home</a></li>
		<li class="breadcrumb-item"><a href="{{ siteurl }}people">People</a></li>
		<li class="breadcrumb-item"><a href="{{ siteurl }}people/{{ person.l_name }}">{{ person.l_name }}</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ person.f_name }}</li>
	</ol>
</nav>

<div class="container">
	<div class="row">
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">{{ person.f_name }} {{ person.l_name }}</h5>
					<div class="card-text">{{ bio|raw }}</div>
				</div>
			</div>
		</div>
		<div class="col card-columns">
			{% for pic in pics %}
			<div class="card">
				<a href="{{ siteurl }}image/{{ pic.id }}"><img class="card-top-img" src="{{ siteurl }}../{{ thumbbasepath }}{{ pic.thumbpath }}"></a>
				<div class="card-body">
					<h5 class="card-title">{{ pic.title }}</h5>
					<p class="card-text">{{ pic.caption|raw }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>

</div>

{% endblock %}
