{% extends 'base.html' %}
{% block title %}Make an account - {{sitename}}{% endblock %}
{% block head %}
{{ parent() }}

<style>

form{
width: 100%;
max-width: 500px;
padding: 15px;
margin: auto;
}
</style>

{% endblock %}
{% block content %}

<div class="container">
	<form action="{{siteurl}}make_account" method="post">
		<h3>Register for {{sitename}}</h3>
		<div class="form-group">
			<label for="email">Email</label>
			{% if message.email %}
			<input type="email" class="form-control is-{{message.email.state}}" name="email" id="email">
			<div class="{{message.email.state}}-feedback">{{message.email.text}}</div>
			{% else %}
			<input type="email" class="form-control" name="email" id="email">
			{% endif %}
		</div>
		<div class="form-group">
			<label for="username">Username</label>
			{% if message.username %}
			<input type="text" class="form-control is-{{message.username.state}}" name="username" id="username">
			<div class="{message.username.state}}-feedback">{{message.username.text}}</div>
			{% else %}
			<input type="text" class="form-control" name="username" id="username">
			{% endif %}
			<small id="usernameHelp" class="form-text text-muted">This username will be used to identify you to other users. Please use something unique and identifiable.</small>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			{% if message.password %}
			<input type="password" class="form-control is-{{message.password.state}}" name="password" id="password">
			<div class="{{message.password.state}}-feedback">{{message.password.text}}</div>
			{% else %}
			<input type="password" class="form-control" name="password" id="password">
			{% endif %}
		</div>
		<button type="submit" class="btn btn-primary">Sign up</button>
	</form>
</div>

{% endblock %}
