{% extends "base.html" %}
{% block title %} {{ tag.name }} - {{ sitename }}{% endblock %}
{% block head %}
{{ parent() }}

<style type="text/css">

.card-columns {
	column-count: 3;
	column-gap: 1.25rem;
	orphans: 1;
	widows: 1;
}

.card {
	display: inline-block;
	max-width: 250px;
}

.card-img-top {
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

</style>
{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ siteurl }}">Home</a></li>
		<li class="breadcrumb-item"><a href="{{ siteurl }}tags">Tags</a></li>
		<li class="breadcrumb-item active" aria-current="page">{{ tag.name }}</li>
	</ol>
</nav>
<div class="container">
	<div class=card-columns">
		{% for card in pics %}
		<div class="card">
			<a href="{{ siteurl }}image/{{ card.id }}"><img class="card-img-top" src="../../{{ thumbbasepath }}{{ card.thumbpath}}"></a>
			<div class="card-body">
				<h5 class="card-title">{{ card.title}}</h5>
				<p class="card-text">{{card.caption|raw }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{%endblock %}
