{% extends "base.html" %}
{% block title %} Tags - {{ sitename }}{% endblock %}
{% block head %}
{{ parent() }}

{% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="{{ siteurl }}">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">Tags</li>
	</ol>
</nav>
<div class="container">
	<ol>{% for tag in tags %}
		<li><a href="{{ siteurl }}tags/{{ tag.name }}">{{ tag.name }}</a>({{tag.tagcount}})</li>
	{% endfor %}</ol>
</div>
{% endblock %}
