{% extends "base.html" %}
{% block title %} User Settings - {{sitename}}{% endblock %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block content %}
<div class="container">
	<h3>User Settings</h3>

	<div class="container">
		<h5>User details</h5>
		Username: {{ user.username }}<br>
		Email: {{ user.email }}
		<br><br>
			
		Roles:
		<ul>
			<li>USER</li>
			{% for role in user.AuthRoles %}
			<li>{{ role }}</li>
			{% endfor %}
		</ul>
	</div>

	<div class="container">
		<h5>Change your email</h5>
		<form action="{{siteurl}}settings" method="post">
			<input type="hidden" id ="mode" name="mode" value="email">
			<div class="form-group">
				<label for="email-update">New Email</label>
				{% if message.email %}
				<input type="email" name="email" class="form-control is-{{ message.email.state }}" id="email-update" placeholder="name@example.com" value="{{ message.email.email }}">
				<div class="{{ message.email.state }}-feedback">{{ message.email.text }}</div>
				{% else %}
				<input type="email" name="email" class="form-control" id="email-update" placeholder="name@example.com">
				{% endif %}
			</div>
			<button type="submit" class="btn btn-primary">Update My Email</button>
		</form>
	</div>
	<div class="container">
		<h5>Change your password</h5>
		<form action="{{siteurl}}settings" method="post">
			<input type="hidden" name="mode" value="password">
			<div class="form-group">
				<label for="old_pass">Current Password</label>
				{% if message.old_pass %}
				<input type="password" name="old_pass" class="form-control is={{ message.old_pass.state }}" id="old_pass">
				<div class="{{ message.old_pass.state }}-feedback">{{ message.old_pass.text }}</div>
				{% else %}
				<input type="password" name="old_pass" class="form-control" id="old_pass">
				{% endif %}
			</div>
			<div class="form-group">
				<label for="new_pass">New Password</label>
				{% if message.new_pass %}
				<input type="password" name="new_pass" class="form-control is-{{ message.new_pass.state }}" id="new_pass">
				<div class="{{ message.new_pass.state }}-feedback">{{ message.new_pass.text }}</div>
				{% else %}
				<input type="password" name="new_pass" class="form-control" id="new_pass">
				{% endif %}
			</div>
			<button type="submit" class="btn btn-primary">Change My Password</button>
		</form>
	</div>
</div>

{% endblock %}
